[Unit]
Description=OpenBTS

[Service]
Type=simple
User=root
ExecStart=/OpenBTS/OpenBTS
WorkingDirectory=/OpenBTS

[Install]
WantedBy=multi-user.target
