[Unit]
Description=OpenBTS Store-and-Forward Short Message Service

[Service]
Type=simple
ExecStart=/usr/local/sbin/smqueue

[Install]
WantedBy=multi-user.target
